@font-face{
    font-family: BebasNeue-Regular; src: url("assets/BebasNeue-Regular.ttf");
    font-family: OpenSans-Regular; src: url("assets/OpenSans-Regular.ttf");
}

section.halamandepan{
    height: 120vh;
    background-image: url(assets/main-bg.jpg);
    background-size: cover;
    background-position: center;
}
section.halamangame{
    height: 100vh;
    background-image: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 96.1%, rgba(0,0,0,1) 131.74%), url(assets/the-games-bg.jpg);
    background-size: cover;
    background-position: bottom;
}

section.halamanfitur{
    height: 110vh;
    background-image: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 96.1%, rgba(0,0,0,1) 131.74%), url(assets/features.jpg);
    background-size: cover;
    background-position: center;
}

section.halamanrequirement{
    height: 100vh;
    background-image: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 96.1%, rgba(0,0,0,1) 131.74%), url(assets/requirements.png);
    background-size: cover;
    background-position: center;
}

section.halamantopscore{
    height: 100vh;
    background-image: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, rgba(0,0,0,1) 99.74%), url(assets/top-score-bg.png);
    background-size: cover;
    background-position: center;
}

section.halamannewsletter{
    background-color: black;
    background-size: cover;
    background-position: center;
}

nav li{
    letter-spacing: 0.1em;
    font-size: 12px;
    font-weight: bold;
    font-family: OpenSans-Regular;
    margin-right: 25px;
}

.navbar-nav{
    margin-left: 100px;
}

.halamandepan a{
    color: white;
    text-decoration: none;
}

div.halamandepanintro{
    height: 80vh;
    text-align: center;
}

h1{
    font-weight: normal;
    font-size: 80px;
    font-family: BebasNeue-Regular, sans-serif;
    text-transform: uppercase;
    color: white;
}

.playtraditionalgame{
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.header2{
    font-size: 64px;
}

h3{
    font-family: BebasNeue-Regular, sans-serif;
    text-transform: uppercase;
    color: #FFB548;
}

p.subtext{
    font-weight: normal;
    font-size: 14px;
    font-family: OpenSans-Regular, sans-serif;
    color: white;
}

button.playnow{
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 20px 80px;
    font-size: 16px;
    color: black;
    border: none;
}

div.pemancing{
    text-align: center;
    height: 100px;
    position: relative;
    animation-name: turun-naik;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.carousel-indicators{
    margin-bottom: 0.5rem;
}

.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border-top: 0px;
    border-bottom: 0px;
    margin-right: 20px;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.carousel-indicators .active{
    background-color: white;
}

.d-block{
    margin-left: 31.3px;
}

.w-100{
    width: 90%!important;
}

.lingkaran {
    display: flex;
    align-items: center;
  }
    div.lingkaran:before {
    content: '';
    background-color: white;
    border-color: white;
    border-radius: 50%;
    border-width: 5px;
    height: 10px;
    width: 10px;
  }

.lingkaran-kosong{
    display: flex;
    align-items: center;
  }
    div.lingkaran-kosong:before{
    content:'';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    line-height: 50px;
    border-color: white;
    background-color: none;
  }

div.systemreq{
    display: flex;
    flex-direction: column;
}

.systemreq div{
    border-style: solid;
    border-width: 1px;
}

div.tabelrequirement{
    justify-content: center;
    align-content: center;
}

.tabelrequirement p{
    color: white;
    font-size: 14px;
}

.tabelborder{
    border-style: solid;
    border-width: 0.1px;
    border-color: white;
}

button.seemore{
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 20px 80px;
    font-size: 16px;
    color: black;
    border: none;
}

div.topscores{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}

div.kolomkomen{
    width: 350px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.kolomkomenatas{
    display: flex;
    align-items: center;
}

p.namakomen{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 80px;
    font-size: 20px;
    color: #FFB548;
}

div.tengkorak{
    width: 300px;
    height: 500px;
    background-image: radial-gradient(ellipse, rgba(0,0,0,0.221726) 20%, rgba(0,0,0,1) 74.22%, rgba(0,0,0,1) 36%), url(assets/skull.png);
    background-size: cover;
    background-position: center;
}

div.isinewsletter{
    margin-left: 50px;
}

div.newslettersubscribe{
    display: flex;
    justify-content: space-between;
}

div.kotakemail{
    width: 400px;
    height: 64px;
    background-color: #FFFFFF14;
    border-radius: 5px;
}

.kotakemail p{
    margin-top: 5px;
    margin-left: 25px;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Open Sans', sans-serif;
}

button.subscribenow{
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 20px 80px;
    font-size: 16px;
    color: black;
    border: none;
}

div.upperfooter{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navfooter{
    font-weight: bold;
    font-size: 12px;
    font-family: OpenSans-Regular, sans-serif;
    text-transform: uppercase;
    color: white;
}

.navfooter li{
    letter-spacing: 2px;
    margin-right: 50px;
}

div.lowerfooter{
    display: flex;
    justify-content: space-between;
}

@keyframes turun-naik {
    0% {left: 0px; top: 0px;}
    50% {left: 0px; top: 150px;}
    100% {left: 0px; top: 0px;}
}

@media only screen and (max-width:320px) {
    .navbar-nav {
        margin-left: 0px;
    }

    .playtraditionalgame{
        font-size: 40px;
    }

    .header1{
        font-size: 20px;
    }

    .header2{
        font-size: 20px;
    }

    section.halamanfitur{
        background-position: left;
    }

    div.pemancing{
        animation-name: none;
    }

    .emptybox{
        display: none;
    }

    .kotaktopscore{
        padding-top: 250px;
    }

    div.isinewsletter{
        margin-left: 0px;
    }

    div.newslettersubscribe{
        flex-direction: column;
    }
    
}