<p>Room Validation</p>
<form method ="POST" action ="/game/roomvalidation/<%= id %>" >
    <label for="unique_code">Room Validation</label>
    <br>
    <input type="text" name="unique_code" placeholder ="Input kodeunik room" >
    <br>
    <br>
    <button type="submit">Masuk ke room</button>
</form>