<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head"); %>
  <body>
      <div class="suitKotakPlayer">
        <h1>RPS</h1>
        <div class="suitKotakTangan" id="suitBackgroundBatuPlayer" onclick="suit(0)">
            <img src="/images/batu.png" alt="Batu">
        </div>
        <div class="suitKotakTangan" id="suitBackgroundKertasPlayer" onclick="suit(1)">
            <img src="/images/kertas.png" alt="Kertas">
        </div>
        <div class="suitKotakTangan" id="suitBackgroundGuntingPlayer" onclick="suit(2)">
            <img src="/images/gunting.png" alt="Gunting">
        </div>
      </div>
  </body>
  <script>

  </script>