<p>Create Room</p>
<form method ="POST" action ="/game/createroom" >
    <label for="room_name">Input Nama Room</label>
    <br>
    <input type="text" name="room_name" placeholder ="Masukkan nama room" >
    <br>
    <br>
    <button type="submit">Submit</button>
</form>