<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css Halaman Depan.css">
  </head>
  <body>
    <section class="halamandepan">
      <nav class="navbar navbar-expand-lg navbar-dark"
      style="background-color: rgba(0, 0, 0, 0.5); text-transform: uppercase;">
          <a class="navbar-brand" href="" style="font-size:26px; margin-left: 50px;">Logo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#headerFrontpage" aria-controls="headerFrontpage" aria-expanded="false"
          aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

          <div class="collapse navbar-collapse" id="headerFrontpage">
              <ul class="navbar-nav" style="flex-grow: 6;">
                  <li class="nav-item">
                      <a href="nav-link active" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                      <a href="nav-link active" href="#">Work</a>
                  </li>
                  <li class="nav-item">
                      <a href="nav-link active" href="#">Contact</a>
                  </li>
                  <li class="nav-item">
                      <a href="nav-link active" href="#">About Me</a>
                  </li>
              </ul>

              <ul class="navbar-nav" style="flex-grow: 2;">
                  <li class="nav-item">
                      <a href="nav-link active" href="#">Sign Up</a>
                  </li>
                  <li class="nav-item">
                      <a href="nav-link active" href="#">Login</a>
                  </li>
              </ul>
          </div>
      </nav>
      <div class="container">
          <div class="halamandepanintro d-flex flex-column justify-content-center align-items-center">
              <h1 class="playtraditionalgame">PLAY TRADITIONAL GAME</h1>
              <p class="subtext" style="font-size: 18px; margin-bottom: 50px">Experience new traditional game play</p>
              <!-- Tombol ini menjadi pemicu untuk membuka halaman suit -->
              <a href="/gamesuit"><button class="btn btn-primary text-uppercase playnow">Trial</button></a>
              <div class= pemancing>
                  <p class="nav" style="margin-top:50px; color: white">THE STORY</p>
                  <img src="/images/scroll down.svg">
              </div>
          </div>
      </div>
    </section>

    <section class="halamangame">
        <div class="container" style="padding-top:150px">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="text-white">What's so special?</h5>
                    <h1 class="text-uppercase text-white header2">The Games</h1>
                </div>

                <div class="col-md-8">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 5"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item-active">
                                <img class="d-block w-100" src="/images/rockpaperstrategy-1600.jpg" alt="First">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/images/main-bg.jpg" alt="Second">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/images/requirements.png" alt="Third">
                            </div>
                        </div>
                        <a class="carousel-control-prev" data-bs-target="#carouselExampleIndicators" role="button" data-bs-slide="prev"
                           style="padding-right:100px;">
                            <span aria-hidden="true"><img src="/images/scroll left.svg"></span>
                            <span class="sr-only"></span>
                        </a>
                        <a class="carousel-control-next" data-bs-target="#carouselExampleIndicators" role="button" data-bs-slide="next"
                           style="padding-left:100px;">
                            <span aria-hidden="true"><img src="/images/scroll right.svg"></span>
                            <span class="sr-only"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
 </section>

    <section class="halamanfitur">
        <div class="container" style="padding-top: 100px;">
            <div class="row">
                <div class="col-md-6 emptybox"></div>
                <div class="col-md-6" style="padding-left: 50px;">
                    <h5 class="text-white">What's so special?</h5>
                    <h1 class="text-white header1">Features</h1>
                    <br><br>
                    <!-- Let's go -->
                        <div class="lingkaran"><snap style="margin-left: 20px;"><h3 style="margin: 0;">TRADITIONAL GAMES</h3></div>
                        <p class="text-white" style="margin-left: 30px; margin-right: 50px; font-size: 18px;">If you miss your childhood, we provide many traditional games here</p>
                        <br><br>
                        <div class="lingkaran-kosong"><snap style="margin-left: 20px;"><h3 style="margin: 0;">GAME SUIT</h3></div>
                        <br><br>
                        <div class="lingkaran-kosong"><snap style="margin-left: 20px;"><h3 style="margin: 0;">TBD</h3></div>
                    <!-- End -->
                </div>
            </div>
        </div>
    </section>

    <section class="halamanrequirement">
        <p class="text-white" style="font-size:14px; text-align: center; padding-top: 25px; padding-bottom: 50px;">
            Can My Computer Run this game?
        </p>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="header2" style="color:white; padding-bottom:50px;">SYSTEM REQUIREMENTS</h1>
                    <!-- Tabel utama -->
                    <div class="container tabelrequirement">
                        <!-- Tabel peranakan pertama -->
                        <div class="row">
                            <div class="col tabelborder">
                                <h3>OS:</h3>
                                <p>Windows 7 64-bit only <br>
                                (No OSX Support at this time)</p>
                            </div>
                            <div class="col tabelborder">
                                <h3>Processor:</h3>
                                <p>Intel Core 2 Duo @ 2.4 GHZ or <br>
                                AMD Athlon X2@ 2.8 GHZ</p>
                            </div>
                        </div>
                        <!-- Tabel peranakan kedua -->
                        <div class="row">
                            <div class="col tabelborder">
                                <h3>Memory:</h3>
                                <p>4 GB RAM</p>
                            </div>
                            <div class="col tabelborder">
                                <h3>Storage:</h3>
                                <p>8 GB available space</p>
                            </div>
                        </div>
                        <div class="row tabelborder">
                        <h3>Graphics:</h3>
                        <p>NVIDIA GeForce GTX 660 2GB or
                        AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 emptybox"></div>
            </div>
        </div>
    </section>

    <section class="halamantopscore">
        <div class="container kotaktopscore">
            <div class="row">
                <div class="col-md-6 topscores">
                    <h3 class="text-white">Top Scores</h3>
                    <p class="subtext">This top score from various games provided on this platform</p>
                    <button class=seemore>see more</button>
                </div>
                
                <div class="col-md-6 emptybox" style="padding-top:100px;">
                    <div class="kolomkomen" style="margin-left:100px;">
                        <div class="kolomkomenatas">
                            <div style="margin-left:20px;">
                                <img src="/images/review-1.jpg" style="height:50px; width: 50px; border-radius: 50%;
                                position: absolute;" alt="">
                                <div style="height:50px; width: 50px; border-radius: 50%; background-color: #FFB548; margin-top: 2px; margin-left: 4px;" ></div>
                            </div>
                            <p class="namakomen">Evan Lathi <br> <span style="color:rgba(255, 255, 255, 0.5); font-size:14px;">PC Gamer</span></p>
                            <img src="/images/twitter-review.svg" style="margin-left: 50px; margin-bottom: 20px;">
                        </div>
                        <p class="subtext" style="margin-left: 10px;">"One of my gaming highlights of the year"<br>
                        <snap style="color:rgba(255, 255, 255, 0.5); font-size: 10px;">October 18, 2018</snap></p>
                    </div>
                    <div class="kolomkomen">
                        <div class="kolomkomenatas">
                            <div style="margin-left:20px;">
                                <img src="/images/review-2.jpg" style="height:50px; width: 50px; border-radius: 50%;
                                position: absolute;" alt="">
                                <div  style="height:50px; width: 50px; border-radius: 50%; background-color: #FFB548; margin-top: 2px; margin-left: 4px;" ></div>
                            </div>
                            <p class="namakomen">Jada Griffin <br> <span style="color:rgba(255, 255, 255, 0.5); font-size:14px;">Nerdreactor</span></p>
                            <img src="/images/twitter-review.svg" style="margin-left: 40px; margin-bottom: 20px;">
                        </div>
                        <p class="subtext" style="margin-left: 10px;">"The next big thing in the world of streaming and survival games." <br>
                        <snap style="color:rgba(255, 255, 255, 0.5); font-size: 10px;">December 21, 2018</snap></p>
                    </div>
                    <div class="kolomkomen" style="margin-left:50px;">
                        <div class="kolomkomenatas">
                            <div style="margin-left:20px;">
                                <img src="/images/review-3.jpg" style="height:50px; width: 50px; border-radius: 50%;
                                position: absolute;" alt="">
                                <div  style="height:50px; width: 50px; border-radius: 50%; background-color: #FFB548; margin-top: 2px; margin-left: 4px;" ></div>
                            </div>
                            <p class="namakomen" style="padding-right: 40px;">Aaron Williams <br> <span style="color:rgba(255, 255, 255, 0.5); font-size:14px;">Uproxx</span></p>
                            <img src="/images/twitter-review.svg" style="margin-left: 40px; margin-bottom: 20px;">
                        </div>
                        <p class="subtext" style="margin-left: 10px; margin-right: 20px;">"Snoop Dogg playing The Wildly Entertaining 'SOS' is ridiculous." <br>
                        <snap style="color:rgba(255, 255, 255, 0.5); font-size: 10px;">December 24, 2018</snap></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="halamannewsletter">
        <div class="container" style="padding-top:50px;">
            <div class="row">
                <div class="col-md-4 tengkorak emptybox">
                </div>
                <div class="col-md-8 isinewsletter">
                    <h5 class="text-white">Want to stay in touch?</h5>
                    <h1 class="header2">Newsletter subscribe</h1>
                    <p class="subtext" style="font-size: 20px;">
                        In order to start receiving our news, all you have to do is enter your email
                        address. Everything else will be taken care of us. We will send you emails
                        containing information about game. We don't spam.
                    </p>
                    <br>
                    <div class="newslettersubscribe">
                        <div class="kotakemail">
                            <p>Your email address<br>
                            <span style="color: #FFB548;">youremail@binar.co.id</span></p>
                        </div>
                        <button class="subscribenow">Subscribe now</button>
                    </div>
                </div>
            </div>
        <footer class="emptybox" style="padding-top: 50px;">
            <!-- Bagian footer di atas garis -->
            <div class="upperfooter">
                <ul class="navfooter" style="display:flex; list-style-type: none;">
                    <li>Main</li>
                    <li>About</li>
                    <li>Game Features</li>
                    <li>System Requirement</li>
                    <li>Quotes</li>
                    <li><img src="/images/facebook.svg"></li>
                    <li><img src="/images/twitter.svg"></li>
                    <li><img src="/images/Vector.svg"></li>
                    <li><img src="/images/twitch.svg"></li>
                </ul>
            </div>
            <hr style="color: white;">
            <!-- Bagian footer di bawah garis -->
            <div class="lowerfooter">
                <p style="font-size: 14px;">@ 2018 Your Games, Inc. All Rights Reserved</p>
                <p class="navfooter">Privacy Policy | Terms of Services | Code of Conduct</p>
            </div>
        </footer>
        <!-- <hr> buat bikin garis -->
    </section>
  </body>
</html>
